#schedule-util {
    width: 780px !important;
}
#schedule-util .title {
    height: 40px;
}
#schedule-util .date {
    padding: 6px 10px 4px 30px;
    font-size: 15px;
    background-position: -200px -197px !important;
}
#schedule-util .day ~ .day .title {
    padding-top: 20px;
}
#schedule-util textarea {
    width: 612px;
    height: 30px;
}
#schedule-util .icon-delete {
    float: right;
    margin-right: -15px;
}
#schedule-util .field {
    display: inline-block;
    vertical-align: top;
}
#schedule-util textarea {
    margin-left: 12px;
}
#schedule-util .btn {
    float: none;
    margin: 0 0 15px 15px;
}
 #schedule-util ~ .btn-add {
    float: none;
    margin: 20px;
 }